<a href="https://colab.research.google.com/github/josedanielisidororeyes/Anal-tica-Descriptiva-y-Predictiva/blob/main/Limpieza_y_Transformaci%C3%B3n_de_Datos_Pr%C3%A1cticas_12_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import warnings
warnings.filterwarnings('ignore')

# Practica 11: Carga de Datos

In [55]:
import pandas as pd
# Carga de Datos
df = pd.read_csv('/content/drive/MyDrive/Programación Analítica Predictiva/miaad-nyc-r-s.csv')

# Eliminación de ultima fila
df =  df.iloc[:-1]

# Impresión de filas y columnas
print(f"El número de filas es: {df.shape[0]}\nEl número de columnas es: {df.shape[1]}")
print()

# Impresión últimas filas
df.tail()

El número de filas es: 84548
El número de columnas es: 22

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84543,8409,5.0,WOODROW,02 TWO FAMILY DWELLINGS,1,7349.0,34.0,,B9,37 QUAIL LANE,...,2.0,0.0,2.0,2400,2575,1998.0,1.0,B9,450000,2016-11-28 00:00:00
84544,8410,5.0,WOODROW,02 TWO FAMILY DWELLINGS,1,7349.0,78.0,,B9,32 PHEASANT LANE,...,2.0,0.0,2.0,2498,2377,1998.0,1.0,B9,550000,2017-04-21 00:00:00
84545,8411,5.0,WOODROW,02 TWO FAMILY DWELLINGS,1,7351.0,60.0,,B2,49 PITNEY AVENUE,...,2.0,0.0,2.0,4000,1496,1925.0,1.0,B2,460000,2017-07-05 00:00:00
84546,8412,5.0,WOODROW,22 STORE BUILDINGS,4,7100.0,28.0,,K6,2730 ARTHUR KILL ROAD,...,0.0,7.0,7.0,208033,64117,2001.0,4.0,K6,11693337,2016-12-21 00:00:00
84547,8413,5.0,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105.0,679.0,,P9,155 CLAY PIT ROAD,...,0.0,1.0,1.0,10796,2400,2006.0,4.0,P9,69300,2016-10-27 00:00:00

# Práctica 12: Agregar una columna

In [56]:
# Impresión de columnas
print('---Columnas de Origen---\n')
print(df.columns)
print()
# Columnas despúes del cambio
df.rename(columns  = {'Unnamed: 0': 'INDEX MIIAD'}, inplace  =  True)
print("---Columnas con cambios---\n")
print(df.columns)

---Columnas de Origen---

Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

---Columnas con cambios---

Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

# Práctica 13: Normalización de los nombres de la columna

In [57]:
# Normalización de columnas y eliminación de espacios en blanco
df.columns =  df.columns.str.strip().str.lower().str.replace(r"\s+", "_", regex =  True)

print('---Columnas después de normalización')
df.columns

---Columnas después de normalización

Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

# Práctica 14: Errores en los Tipos de Datos

In [58]:
# Impresión de tipos de columna
print('---Tipos de datos por columna (Original)---')
print(df.dtypes)
print()
# Correación de tipos de columna
df['sale_price'] =  pd.to_numeric(df['sale_price'], errors = 'coerce')
df['land_square_feet'] = pd.to_numeric(df['land_square_feet'], errors = 'coerce')
df['gross_square_feet'] =  pd.to_numeric(df['gross_square_feet'], errors =  'coerce')

print('---Tipos de datos con solución de errores---')
print(df.dtypes)

---Tipos de datos por columna (Original)---
index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                   object
gross_square_feet                  object
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                         object
sale_date                          object
dtype: object

---Tipos de datos con solución de errores---
index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                  float64
gross_square_feet                 float64
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

# Práctica 15: Generación de Diccionario de Datos

In [59]:
# Generación de diccionario
diccionario_de_datos = pd.DataFrame({'Columna': df.columns, 'Tipo': [str(df[col].dtype) for col in df.columns]})

# Impresión de diccionario
print(diccionario_de_datos)

                           Columna     Tipo
0                      index_miiad   object
1                          borough  float64
2                     neighborhood   object
3          building_class_category   object
4             tax_class_at_present   object
5                            block  float64
6                              lot  float64
7                        ease-ment   object
8        building_class_at_present   object
9                          address   object
10                apartment_number   object
11                        zip_code  float64
12               residential_units  float64
13                commercial_units  float64
14                     total_units  float64
15                land_square_feet  float64
16               gross_square_feet  float64
17                      year_built  float64
18       tax_class_at_time_of_sale  float64
19  building_class_at_time_of_sale   object
20                      sale_price  float64
21                       sale_date   object

# Practica 16

# No hay prática 16