<a href="https://colab.research.google.com/github/josedanielisidororeyes/Anal-tica-Descriptiva-y-Predictiva/blob/main/Pr%C3%A1ctica_6_Manejo_de_Librer%C3%ADa_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1: Análisis de la distribución de supervivencia por combinación de sexo y clase del pasajero

## Calcula la proporción de superviviencia por Sexo y Clase

In [79]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
df =  pd.read_csv('/content/drive/MyDrive/Programación Analítica Predictiva/Titanic-Dataset.csv')
df2 =  df.copy()

# Calcula la proporción de supervivencia para cada combinación de Sex y Pclass
proporcion_supervivencia =  df.groupby(['Sex', 'Pclass', 'Survived']).size().reset_index(name  = 'Pasajeros')
print(proporcion_supervivencia)

       Sex  Pclass  Survived  Pasajeros
0   female       1         0          3
1   female       1         1         91
2   female       2         0          6
3   female       2         1         70
4   female       3         0         72
5   female       3         1         72
6     male       1         0         77
7     male       1         1         45
8     male       2         0         91
9     male       2         1         17
10    male       3         0        300
11    male       3         1         47

## ¿Qué combinación tuvo la tasa de supervivencia más alta ?
Respuesta: Mujeres de la Clase 1

## ¿Qué combinación tuvo la tasa de supervivencia más baja ?
Respuesta: Hombre de la clase 3

# Ejercicio 2: Identificación de familias grandes a bordo

## Crea una nueva columna 'FamilySize' sumando las columnas'SibSp' y 'Parch'

In [70]:
df['FamilySize']  =  df['SibSp'] +  df['Parch']
df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S,1

## Considera como 'familia grande' a aquellas donde 'FamilySize' es mayor a 3

In [71]:
familia_grande =  df[df['FamilySize'] > 3]

## Calcula el número de pasajeros en familias grandes

In [72]:
familia_grande['FamilySize'].sum()

np.int64(354)

## Calcula la proporción de supervivencia entre los pasajeros que pertenecen a familias grandes

In [73]:
familia_grande.groupby(['Survived']).size()

Survived
0    52
1    10
dtype: int64

# Ejercicio 3: Segmentación por grupos de edad

In [74]:
# Primero remplazamos los NaN por el promedio de edad
df['Age'] = df['Age'].fillna(df['Age'].mean())

# Creación de Categorías
df['Categoria_Edad'] = np.where(df['Age'] > 18, '+18 (mayor de edad)', '<18 (menor de edad)')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,Categoria_Edad
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,+18 (mayor de edad)
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1,+18 (mayor de edad)
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,+18 (mayor de edad)
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1,+18 (mayor de edad)
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,+18 (mayor de edad)

# Ejercicio 4: Comparación entre promedios calculados manualmente y con Pandas

## Utiliza NumPy para calcular el promedio de las columnas 'Age' y 'Fare', ignorando valores nulos

In [81]:
array_edad = df2['Age'].to_numpy()
promedio_edad_numpy = np.nanmean(array_edad)
print("El promedio de edad usando numpy es: ", promedio_edad_numpy)

El promedio de edad usando numpy es:  29.69911764705882

## Compara estos valores con los promedio obtenidos utilizando los métodos nativos de Pandas

In [82]:
promedio_edad_pandas =  df2['Age'].mean()
print("El promedio de edad usando pandas es:", promedio_edad_pandas)

El promedio de edad usando pandas es: 29.69911764705882

## Verifica que los resultados sean consistentes

In [83]:
print("La diferencia entre el promedio de numpy y pandas es: ", promedio_edad_numpy - promedio_edad_pandas)

La diferencia entre el promedio de numpy y pandas es:  0.0

# Ejercicio 5: Creación de intervalos de clase usando NumPy y análisis con Pandas

## Divide la columna 'Fare' en 5 intervalos equidistantes

In [96]:
intervalo_tarifas = np.linspace(df['Fare'].min(), df['Fare'].max(), 6)

# Crea una nueva columna en el DataFrame que asigne a cada pasajero el intervalo correspondiente de su tarifas

In [97]:
df['Intervalo_Tarifas'] =  pd.cut(df['Fare'], bins  =  intervalo_tarifas, labels  = ['Categoria 1', 'Categoría 2', 'Categoría 3', 'Categoría 4', 'Categoría 5'])

# Calcula el número de pasajeros en cada intervalo y la proporción de sobreviientes por intervalo

In [98]:
proporcion_supervivencia_intervalo =  df.groupby(['Intervalo_Tarifas', 'Survived']).size().reset_index(name  = 'Pasajeros')
print(proporcion_supervivencia_intervalo)

  Intervalo_Tarifas  Survived  Pasajeros
0       Categoria 1         0        521
1       Categoria 1         1        302
2       Categoría 2         0          8
3       Categoría 2         1         25
4       Categoría 3         0          6
5       Categoría 3         1         11
6       Categoría 4         0          0
7       Categoría 4         1          0
8       Categoría 5         0          0
9       Categoría 5         1          3

/tmp/ipython-input-327599713.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  proporcion_supervivencia_intervalo =  df.groupby(['Intervalo_Tarifas', 'Survived']).size().reset_index(name  = 'Pasajeros')