<a href="https://colab.research.google.com/github/josedanielisidororeyes/Anal-tica-Descriptiva-y-Predictiva/blob/main/Pr%C3%A1ctica_17_Limpieza_y_Transformaci%C3%B3n_de_Datos_Categ%C3%B3ricos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Programación para Analítica Descriptiva y Predictiva
##Nombre de la tarea: Práctica #17: Limpieza y Transformación de Datos Categóricos
##Grupo: A
##Autor: Jose Daniel Isidoro Reyes
##Matrícula: 261552
##Fecha: 12 de Septimebre de 2025

# Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus

In [67]:
import pandas as pd
df =  pd.read_csv('/content/drive/MyDrive/Programación Analítica Predictiva/nls97.csv')

# Valores únicos de la columna  'maritalstatus'
print("Los valores únicos de maritalstatus son:")
print(df['maritalstatus'].unique())
print("\n")


# Frecuencia de cada valor únicos de la columna  'maritalstatus'
print("Los valores únicos son")
print("\n")
print(df['maritalstatus'].value_counts())

# Remplazo del valor 'Never-Married' a 'Single'
df['maritalstatus'] = df['maritalstatus'].replace({'Never-married': 'Single'})

# Impresión de valores únicos después del reemplazo
print("Impresión de valores únicos después del remplazo")
print(df['maritalstatus'].value_counts())

Los valores únicos de maritalstatus son:
['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']


Los valores únicos son


maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64
Impresión de valores únicos después del remplazo
maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

# Ejercicio 02: Errores Tipográficos y Valores Inconsistentes: highestdegree.

In [68]:
# Impresión de valores únicos de la columna 'highestdegrees'
print("Los valores únicos de highestdegrees son:")
print(df['highestdegree'].unique())
print("\n")


# Frecuencia de cada valor únicos de la columna  'highestdegree'
print("Los valores únicos son")
print("\n")
print(df['highestdegree'].value_counts())
print("\n")
# Para eliminar números, puntos, y espacios en blanco se usa la expresión regular 'r'^\d+\.\s*', la cual realiza lo siguiente:
# '^' Busca el inicio de la cadena.
# '\d+' Busca uno o más dígitos.
# '\.' Busca el carácter punto
# '\s*' Busca cero o más espacios en blanco.
df['highestdegree'] = df['highestdegree'].str.replace(r'^\d+\.\s*', '', regex=True)


# Impresión de valores únicos después del cambio
print("Los valores únicos después del cambio son")
print("\n")
print(df['highestdegree'].value_counts())

Los valores únicos de highestdegrees son:
['2. High School' '0. None' '4. Bachelors' '3. Associates' '5. Masters'
 '1. GED' '7. Professional' '6. PhD' nan]


Los valores únicos son


highestdegree
2. High School     3667
4. Bachelors       1673
1. GED             1146
0. None             953
3. Associates       737
5. Masters          603
7. Professional     120
6. PhD               54
Name: count, dtype: int64


Los valores únicos después del cambio son


highestdegree
High School     3667
Bachelors       1673
GED             1146
None             953
Associates       737
Masters          603
Professional     120
PhD               54
Name: count, dtype: int64

# Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas

In [69]:
# Código proporcionado por el usuario
df['marital_grouped'] = df['maritalstatus'].replace(['Widowed', 'Single'], 'Single/No Partner').fillna('No Disponible')

# Impresión de valores únicos de la nueva columna
print(df['marital_grouped'].unique())

# Impresión de valores únicos de la nueva columna
print(df['marital_grouped'].value_counts())

['Married' 'Single/No Partner' 'No Disponible' 'Divorced' 'Separated']
marital_grouped
Married              3066
Single/No Partner    2789
No Disponible        2312
Divorced              663
Separated             154
Name: count, dtype: int64

# Ejercicio 04: Tipos de Datos

In [70]:
# Impresión de tipo de dato de la columna gender
print("El tipo de dato de la columna 'gender' es:", df['gender'].dtype)

# Impresión de uso de memoria de la columna 'gender'
print(f"Memoria total en bytes: {df['gender'].memory_usage(deep  =  True)}")

# Correción de tipo de columna de texto a categoría
df['gender'] = df['gender'].astype('category')

# Impresión de uso de memoria de la columna 'gender'
print(f"Memoria total en bytes después de la corrección es: {df['gender'].memory_usage(deep  =  True)}")

El tipo de dato de la columna 'gender' es: object
Memoria total en bytes: 485054
Memoria total en bytes después de la corrección es: 9332