<a href="https://colab.research.google.com/github/josedanielisidororeyes/Anal-tica-Descriptiva-y-Predictiva/blob/main/Pr%C3%A1ctica_19_Datos_Duplicados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Programación para Analítica Descriptiva y Predictiva
##Nombre de la tarea: Práctica #19: Datos Duplicados
##Grupo: A
##Autor: Jose Daniel Isidoro Reyes
##Matrícula: 261552
##Fecha: 25 de Septiembre de 2025

**Instrucciones**:

Descarga el archivo dirtydata.csv, proporcionado en esta tarea. También lo puedes encontrar en recursos.
Crea un notebook en colab y guarda el archivo csv  en tu drive.
Agrega secciones en el colab poniendo como título el nombre de cada ejercicio

## Ejercicio 1: Duplicidad Parcial de una Columna | Contar y Filtrar los Registros Duplicados en Duration

*   Carga el conjunto de datos dirty.csv y verifica que su carga sea correcta.

In [73]:
# Carga del conjunto de datos
import pandas as pd
print("---Impresión de las primeras 2 filas del dataframe")
df =  pd.read_csv('/content/drive/MyDrive/Programación Analítica Predictiva/dirtydata.csv')

# Verificación de que la carga sea correcta
print(df.head(2))
print()
print("\n---Verificación de tipo de dato correcto---")
print(df.info())

---Impresión de las primeras 2 filas del dataframe
   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0


---Verificación de tipo de dato correcto---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

Como se puede observa la columna Date está almacena como texto, además de que hay algunos valores nulos en las columnas Date y Calories. Para tratar los valores faltantes se eliminan por simplicidad.

In [74]:
# Eliminación de valores  faltantes
df.dropna(inplace  =  True)

# Corrección de columna Date a tipo fecha con manejo de errores
df['Date'] =  pd.to_datetime(df['Date'], errors= 'coerce')

print("\n---Verificación de tipo de dato correcto---")
print(df.info())

# Verificación de valores nulos por columna
print("\n---Verificación de valores nulos por columna")
print(df.isnull().sum())

---Verificación de tipo de dato correcto---
<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      28 non-null     datetime64[ns]
 2   Pulse     29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Calories  29 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 1.4 KB
None

---Verificación de valores nulos por columna
Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

*   Cuenta la cantidad de registros duplicados utilizando solo la información de columna Duration e imprime

In [75]:
# Valores duplicados columna Duration
duplicados =  df.duplicated(subset = 'Duration').sum()
print(f"Número de registros duplicados en la columna Duration: {duplicados} ")

Número de registros duplicados en la columna Duration: 25

*   Utiliza value_counts() e imprime la cantidad de registros que hay por cada valor único.

In [76]:
duplicados =  df['Duration'].value_counts()
print("Número de registros duplicados que hay por cada valor")
print(duplicados)

Número de registros duplicados que hay por cada valor
Duration
60     23
45      4
450     1
30      1
Name: count, dtype: int64



*   Filtra los datos y obten los registros sin duplicados

In [77]:
# Obtemción de registros sin duplicados
print("Obtención de registros sin datos duplicados")
print(df.drop_duplicates(subset = ['Duration']))

Obtención de registros sin datos duplicados
   Duration       Date  Pulse  Maxpulse  Calories
0        60 2020-12-01    110       130     409.1
3        45 2020-12-04    109       175     282.4
7       450 2020-12-08    104       134     253.3
8        30 2020-12-09    109       133     195.1

## Ejercicio 2: Duplicidad Parcial Dos Columnas | Contar y Filtrar Registros Duplicados en Pulse y MaxPulse

*   Carga el conjunto de datos dirty.csv y verifica que su carga sea correcta.

In [78]:
import pandas as pd
df =  pd.read_csv('/content/drive/MyDrive/Programación Analítica Predictiva/dirtydata.csv')

*   Cuenta la cantidad de registros duplicados utilizando la información de las columnas Pulse y Maxpulse

In [79]:
duplicados_Pulse  =  df.duplicated(subset = ['Pulse'], keep = False).sum()
duplicados_Maxpulse =  df.duplicated(subset = ['Maxpulse'], keep =  False).sum()

print(f"Número de registros duplicados de la columna Pulse (todas las apariciones): {duplicados_pulse}")
print(f"Número de registros duplicados de la columna Maxpulse (todas las apariciones): {duplicados_Maxpulse} ")

Número de registros duplicados de la columna Pulse (todas las apariciones): 17
Número de registros duplicados de la columna Maxpulse (todas las apariciones): 11

*   Utiliza value_counts() e imprime la cantidad de registros que hay por cada valor único.


---

In [80]:
df2 =  df[['Pulse', 'Maxpulse']]
conteo_duplicados  =  df2.value_counts()
print("Número de registros que hay por cada valor único")
print(conteo_duplicados)

Número de registros que hay por cada valor único
Pulse  Maxpulse
100    120         4
92     115         1
       118         1
97     125         1
90     112         1
98     120         1
       123         1
       124         1
100    119         1
       132         1
102    126         1
       127         1
       129         1
103    123         1
       132         1
       135         1
       147         1
104    132         1
       134         1
105    132         1
106    128         1
108    131         1
109    133         1
       175         1
110    130         1
       136         1
117    145         1
       148         1
130    101         1
Name: count, dtype: int64

*   Filtra los datos y obten los registros cuando keep = 'last'

In [81]:
print("Filtrar: Todos los registros (Pulse y Maxpulse) sin duplicados")
print(df2[~df2.duplicated(subset = ['Pulse', 'Maxpulse'], keep='last')])

Filtrar: Todos los registros (Pulse y Maxpulse) sin duplicados
    Pulse  Maxpulse
0     110       130
1     117       145
2     103       135
3     109       175
4     117       148
5     102       127
6     110       136
7     104       134
8     109       133
9      98       124
10    103       147
13    106       128
14    104       132
15     98       123
16     98       120
18     90       112
19    103       123
20     97       125
21    108       131
22    100       119
23    130       101
24    105       132
25    102       126
26    100       120
27     92       118
28    103       132
29    100       132
30    102       129
31     92       115

##Ejercicio 3 Duplicidad Total o Exacta | Contar y Filtrar los registros duplicados

*   Carga el conjunto de datos dirty.csv y verifica que su carga sea correcta.

In [82]:
import pandas as pd
df =  pd.read_csv('/content/drive/MyDrive/Programación Analítica Predictiva/dirtydata.csv')

*   Cuenta la cantidad de registros duplicados exactos (todas las columnas)

In [83]:
num_duplicados_exactos  =  df.duplicated().sum()
print(f"Registros duplicados exactos: {num_duplicados_exactos}")

Registros duplicados exactos: 1

* Utiliza sum() e imprime la cantidad de registros con duplicidad exacta

In [84]:
num_duplicados_exactos  =  df.duplicated().sum()
print(f"Registros duplicados exactos: {num_duplicados_exactos}")

Registros duplicados exactos: 1

* Filtra los datos y obten los registros cuando keep = 'last'

In [85]:
print(df.drop_duplicates(keep='last'))

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

## Ejercicio 04: Cálculo de la media con duplicados y sin duplicados

>

* Carga el conjunto de datos dirty.csv y verifica que su carga sea correcta.

In [86]:
import pandas as pd
df =  pd.read_csv('/content/drive/MyDrive/Programación Analítica Predictiva/dirtydata.csv')

* Calcula e imprime la media de las columnas Pulse y MaxPulse

In [87]:
df[['Pulse', 'Maxpulse']].mean()

Pulse       103.5
Maxpulse    128.5
dtype: float64


*   Identifica los valores duplicados en las columnas Pulse y MaxPulse (Duplicidad Parcial) y elimina los registro repetidos. Quédate con las últimas ocurrencias

In [88]:
df_sin_duplicados  =  df.drop_duplicates(subset = ['Pulse', 'Maxpulse'], keep = 'last')

*   Utiliza el conjunto anterior sin datos duplicados (recuerda que solo quedaron las últimas ocurrencias de los datos) y calcula la media de las columnas Pulse y MaxPulse

In [89]:
df_sin_duplicados[['Pulse', 'Maxpulse']].mean()

Pulse       103.862069
Maxpulse    129.379310
dtype: float64